POSTGRES_DB=cgi_adventure
POSTGRES_USER=cgi_adventure
POSTGRES_PASSWORD=
DJANGO_SECRET_KEY=
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DEV_ADMIN_USERNAME=admin
DEV_ADMIN_PASSWORD=
LINE_LIFF_ID=
LINE_CHANNEL_ID=
